In [ ]:
# LISS fertility pred

In [2]:
import pandas as pd

In [ ]:
features = pd.read_csv("LISS_example_input_data.csv", encoding='cp1252')

In [4]:
labels = pd.read_csv("LISS_example_groundtruth_data.csv", encoding='cp1252')

      nomem_encr  new_child
5       800057.0        0.0
10      800128.0        0.0
35      800463.0        0.0
57      800677.0        0.0
59      800701.0        1.0
...          ...        ...
9410    899453.0        0.0
9411    899462.0        0.0
9419    899523.0        0.0
9426    899585.0        0.0
9432    899645.0        0.0

[902 rows x 2 columns]

In [5]:
# Do we have any missing data?
# 9459 rows, 9459-902 NAs

In [10]:
#labels["new_child"].isna
labels = labels.dropna(subset=["new_child"]) #902

      nomem_encr  new_child
5       800057.0        0.0
10      800128.0        0.0
35      800463.0        0.0
57      800677.0        0.0
59      800701.0        1.0
...          ...        ...
9410    899453.0        0.0
9411    899462.0        0.0
9419    899523.0        0.0
9426    899585.0        0.0
9432    899645.0        0.0

[902 rows x 2 columns]

In [7]:
features = features[(labels["new_child"]==1.0) | (labels["new_child"]==0.0)] # keep only if outcome known

C:\Users\saku9890\AppData\Local\Temp\ipykernel_21728\2396882412.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  features = features[(labels["new_child"]==1.0) | (labels["new_child"]==0.0)] # keep only if outcome known

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
# aantalki = N of children in HH
# partner = lives with a partner
# oplmet = highest level of edu with diploma
# herkomstgroep = origin
# belbezig = primary occupation

In [ ]:
features["aantalki2019"]
features["partner2019"]
features["oplmet2019"]
features["herkomstgroep2019"]
features["belbezig2019"]

In [ ]:
cols_keep = [
    "aantalki2019",
    "partner2019",
    "oplmet2019",
    "herkomstgroep2019",
    "belbezig2019"
]

In [ ]:
features = features[cols_keep]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
features.shape

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
features = encoder.fit_transform(features)

In [ ]:
target = labels["new_child"]

In [ ]:
from sklearn.model_selection import train_test_split
data_train, data_test, target_train, target_test = train_test_split(
    features, target, random_state=76, test_size=0.25)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=500)

In [ ]:
model.fit(data_train, target_train)

In [ ]:
target_predicted = model.predict(data_test)

In [ ]:
data_test

In [ ]:
(target_test == target_predicted).mean()